@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.btn-login{
    background-color: #49c5b6 !important;
}
