{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block body %}
<div class="container-fluid mb-4">
    {%include 'nav.html' %}
</div>

<div class="container-fluid row mb-3">
    <div class="card col-md-5">
        <div class="">
            <img class="card-img-top"  src="{{ post.image.url }}" alt="{{photo.title}}">
            <a href="">
                <div class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-row mx-auto" style="margin-top:20%">
                                {% for rating in post.ratings.all %}
                                {% if forloop.counter is post.ratings.all.count %}
                                <div id="design">{{ rating.design_average}}<br>
                                    <span class="rates">design</span>
                                </div>
                                <div id="usable" class="mx-auto">{{ rating.usability_average }}<br>
                                    <span class="rates">usability</span>
                                </div>
                                <div id="contente">{{ rating.content_average }}<br>
                                    <span class="rates">content</span>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <div class="card-body">
            <h5 class="card-title"><strong>{{post.title|title}}</strong>
                <a href="{{ post.url }}" style="float:right" class="btn btn-sm btn-info mr-4"> View </a>
            </h5>
            <p>By <span><a href="" class="text-decoration-none">{{ post.owner.user.username|title }}</a></p>
            <p>{{ post.description }}</p>
            <p class="card-text "><img src="{{post.owner.user.profile_photo.url}}" class="nav-img mr-2" alt=""></p>

        </div>
        
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5 border border-1 p-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="text-center">Rate</h3>
                {% for rating in post.ratings.all %}
                {% if forloop.counter is post.ratings.all.count %}
                <a class="btn btn-outline-info">
                    <h5>{{ rating.score }}</h5>
                    <span class="sc">Average Score</span>
                </a>
                <a class="btn btn-outline-success">
                    <h5>{{ rating.design_average }}</h5>
                    <span class="sc">Design Average</span>
                </a>
                <a class="btn btn-outline-primary" id="u">
                    <h5>{{ rating.usability_average }}</h5>
                    <span class="sc">Usability Average</span>
                </a>
                <a class="btn btn-outline-danger" id="c">
                    <h5>{{ rating.content_average }}</h5>
                    <span class="sc">Content Average</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>
    
        {% if rating_status %}
        <h5>You have already voted</h5>
        {% else %}
        {% if user.is_authenticated %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy}}
            <button class="btn btn-outline-info">Rate</button>
        </form>
        {% endif %}
        {% endif %}
    </div>

</div>
{% endblock %}